{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
            Hi, I'm Eugen Trosecny, friends call me Pepan. I am from slovakia and I am  cool.
{% endblock %}
